<div class="text-center">
    <app-loading *ngIf="loading"></app-loading>

</div>
<div class="text-center" *ngIf="questionary != null">
    <h4 class="card-title">{{ questionary.name | uppercase}}</h4>
    <p class="card-text">{{ questionary.description | uppercase }} </p>
    <hr>
    <div *ngFor="let question of questionary.listQuestions; let i=index" style="margin-bottom: 10px;">
        <div class="card-header">
            <b>{{ question.description }}</b>
        </div>
        <ul class="list-group" *ngFor="let answer of question.listAnswers">
            <li class="list-group-item" [ngClass]="{'list-group-item-success': answer.isCorrect && answers[i].answerId === answer.id, 
                                                    'list-group-item-danger': !answer.isCorrect && answers[i].answerId === answer.id}">
                {{ answer.description }}
                <span class="material-icons correct" *ngIf="answer.isCorrect && answers[i].answerId === answer.id">
                    check_circle
                </span>
                <span class="material-icons incorrect"*ngIf="!answer.isCorrect && answers[i].answerId === answer.id">
                    highlight_off
                </span>
            </li>
        </ul>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4 offset-4">
            <button class="btn btn-primary btn-lg btn-block"
                    routerLink="/dashboard/statistics/{{questionary.id}}">
                Back
            </button>
        </div>
    </div>
</div>
