<div class="jumbotron text-center">
    <h1>Welcome {{ username | titlecase }}!</h1>
    <p class="lead text-muted">QUESTIONS</p>
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <button class="btn btn-success btn-block btn-quest"
                    routerLink="/dashboard/newQuestionary/step1">
                NEW QUESTION
            </button>
        </div>
    </div>
</div>

<div class="text-center" style="margin-top: -30px;">
    <app-loading *ngIf="loading"></app-loading>
</div>

<div class="card-columns mt-3">
    <div class="card bg-light" *ngFor="let questionary of listQuestionaries">
        <div class="card-body text-center">
            <h4 class="card-title">{{ questionary.name }}</h4>
            <p class="card-text">{{ questionary.description }}</p>
            <div>
                <button class="btn btn-success radius" 
                        routerLink="/dashboard/seeQuestionary/{{questionary.id}}">
                        SEE
                </button>
                <button class="btn btn-info radius"
                        routerLink="/dashboard/statistics/{{questionary.id}}">
                        Statistics
                </button>
                <button class="btn btn-danger radius" 
                        (click)="delete(questionary.id)">
                    DELETE
                </button>
            </div>
        </div>
    </div>
</div>

<h3 *ngIf="listQuestionaries.length === 0 && !loading">There're not questionaries to show</h3>