<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Change Password
        </h3>
        <form [formGroup]="changePassword"
                (ngSubmit)="savePassword()">
            <div class="form-group">
                <input type="password" 
                       class="form-control" 
                       placeholder="Old Password"
                       formControlName="passwordOld">
                <span class="text-danger ml-3"
                    *ngIf="changePassword.get('passwordOld').hasError('required') 
                            && changePassword.get('passwordOld').touched">
                    The Password <strong>is required</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="password" 
                       class="form-control" 
                       placeholder="New Password" 
                       formControlName="passwordNew">
                <span class="text-danger ml-3"
                    *ngIf="changePassword.get('passwordNew').hasError('required') 
                            && changePassword.get('passwordNew').touched">
                    The New Password <strong>is required</strong>
                </span>
                <span class="text-danger ml-3"
                    *ngIf="changePassword.get('passwordNew').hasError('minlength')">
                    The New Password <strong>must contain 4 characters or more</strong>
                </span>
            </div>
            <div class="form-group">
                <input type="password" 
                       class="form-control" 
                       placeholder="Confirm New Password" 
                       formControlName="confirmPassword">
                <span class="text-danger ml-3"
                        *ngIf="changePassword.hasError('notSame')">
                    Passwords <strong>are not equal</strong>
                </span>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary mr-2 btn-ok"
                        [disabled]="changePassword.invalid">
                    Ok
                </button>
                <button class="btn btn-secondary"
                        routerLink="../">
                    Back
                </button>
            </div>
        </form>
    </div>
</div>